/*background branch start*/

body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

#bgVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 90%;
}

.logo {
    position: fixed;
    display: flex;
    /* background: rgba(20, 0, 0, 0.31); */
    color: #f1f1f1;
    width: 100%;
    padding: 10px;
    justify-content: center;
}

.logo h3 {
    position: inherit;
    margin-top: 6%;
    font-size: 1.5em;
    color: #ffffff;
    font-weight: 500;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

#logo {
    width: 8%;
    height: auto;
}


/*navigation bar*/

nav {
    position: relative;
    padding-top: 1%;
    display: flex;
    justify-content: center;
    top: 0;
}

nav a {
    position: relative;
    margin: 0 20px;
    font-size: 1.5em;
    color: #ffffff;
    text-decoration: none;
    font-weight: 400;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

nav #marker {
    position: absolute;
    height: 4px;
    width: 0;
    background: #5adac8;
    bottom: -8px;
    transition: 0.5s;
    border-radius: 4px;
    text-shadow: 2px 2px 8px #fff;
}


/*background branch end*/

.navContainer {
    position: fixed;
    background: #7768684f;
    color: #f1f1f1;
    width: 100%;
    height: 35%;
    bottom: 0;
}


/*slider branch start*/

.sliderContainer {
    position: fixed;
    min-width: 100%;
    bottom: 0;
    padding: 15px;
}

.sliderContainer:hover>.controls {
    opacity: 1;
    animation-duration: 2s;
    transition-duration: 500ms;
}

.slider {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 150px;
    grid-gap: 10px;
    margin: 0 75px 0 50px;
}

.video-card {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}

.video-card:hover > .video-thumbnail img {
   display: none;
}

.video-thumbnail {
    width: 100%;
    height: 100%;
}

.video-thumbnail img {
    max-width: 200px;
}

.video-thumbnail video {
    opacity: 1;
    width: 100%;
    height: 100%;
    object-fit: fill;
    transform: scale(1) rotate(0deg);
    animation-duration: 3s;
    transition-duration: 500ms;
}

.video-title {
    width: 100%;
    height: 100%;
    bottom: 0;
    position: absolute;
    text-align: left;
    font-size: 1.5em;
    color: white;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #000000 100%);
}

.video-title h3 {
    bottom: 0;
    position: absolute;
    margin-bottom: 10px;
    margin-left: 15px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    transition-duration: 500ms;
}

.video-card:hover>.video-title h3 {
    color: #17116e;
    transition-duration: 500ms;
}

.active>.video-title {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 60%, #70b0c4 100%);
}

.video-card:hover>.video-thumbnail video {
    transform: scale(1.5) rotate(2deg);
    transition-duration: 500ms;
}

.controls {
    opacity: 0;
    transition-duration: 500ms;
}

.fa-chevron-right {
    position: absolute;
    right: 0;
    padding-right: 4.5%;
    top: 45%;
    font-size: 1.5em;
    opacity: 0.5;
    transition-duration: 500ms;
    cursor: pointer;
    color: #fff;
}

.fa-chevron-right:hover {
    opacity: 1;
    transition-duration: 500ms;
}

.fa-chevron-left {
    position: absolute;
    left: 0;
    padding-left: 2%;
    top: 45%;
    font-size: 1.5em;
    opacity: 0.5;
    transition-duration: 500ms;
    cursor: pointer;
    color: #fff;
}

.fa-chevron-left:hover {
    opacity: 1;
    transition-duration: 500ms;
}


/*slider branch end*/